[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="checklist-app" v-cloak>
  <div class="container">
    <!-- Search Bar -->
    <div class="field">
      <label class="label">Search for Species</label>
      <input class="input" type="text" v-model="searchQuery" placeholder="Search for a species">
    </div>

    <!-- Species Table -->
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Species</th>
          <th>Count</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="species in filteredSpecies" :key="species">
          <td>{{ species }}</td>
          <td><input class="input" type="number" v-model.number="birdCounts[species]" min="0"></td>
          <td><button class="button is-info" @click="incrementCount(species)">+</button></td>
        </tr>
      </tbody>
    </table>

    <!-- Submit Button -->
    <button class="button is-success" @click="submitChecklist">Submit Checklist</button>
  </div>
</div>

[[block page_scripts]]
<script>
  let checklist_url = "[[=URL('checklist/submit')]]";
  let my_checklist_url = "[[=URL('my_checklists')]]";
  let speciesList = [[=XML(speciesList)]];
  let lat = parseFloat("[[=lat]]");
  let lng = parseFloat("[[=lng]]");
</script>
<script src="js/checklist.js"></script>
[[end]]

