[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
#map {
     height: 400px;
     width: 100%;
     margin-bottom: 20px;
}
</style>

<div class="section" id="app" v-cloak>
  <h1 class="title"><i class="fa-solid fa-dove"></i> Bird-Watching Location Page</h1>
  
  <div>
    <h2>Select a Region</h2>
    <div id="map" style="height: 400px;"></div>
  </div>

  <div>
    <h2>Species in Selected Region</h2>
    <species-list :region-id="regionId" @species-selected="selectSpecies"></species-list>
  </div>

  <div v-if="selectedSpecies">
    <h2>Trends for {{ selectedSpecies }}</h2>
    <graph-visualization :region-id="regionId" :species-name="selectedSpecies"></graph-visualization>
  </div>

  <div>
    <h2>Top Contributors</h2>
    <top-contributors :region-id="regionId"></top-contributors>
  </div>
</div>

<!-- Define API URLs -->
<script>
  let species_url = "[[=URL('api/species')]]";
  let trends_url = "[[=URL('api/trends')]]";
  let contributors_url = "[[=URL('api/contributors')]]";
</script>

<!-- JavaScript Dependencies -->
<script src="js/sugar.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vue3.js"></script>
<script src="js/utils.js"></script>
