[[extend 'layout.html']]

<div class="section" id="my-checklist-app" v-cloak>
  <div class="container">
    <h1 class="title">My Checklists</h1>
    <!-- Checklist Table -->
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Date</th>
          <th>Location</th>
          <th>Duration</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="checklist in checklists" :key="checklist.id">
          <td>{{ checklist.date }}</td>
          <td>{{ checklist.location }}</td>
          <td>{{ checklist.duration }} minutes</td>
          <td>
            <!-- Edit Button -->
            <button class="button is-info" @click="editChecklist(checklist.id)">Edit</button>
            
            <!-- Delete Button -->
            <button class="button is-danger" @click="deleteChecklist(checklist.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

[[block page_scripts]]
<script>
  let my_checklist_url = "[[=URL('my_checklists')]]";
</script>
<script src="js/my_checklist.js"></script>
[[end]]





