[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<div class="section" id="app" v-cloak>
  <!-- Put here your Vue.js template -->
  <h1 class="title is-1">Statistics</h1>
  <div>
    <!-- <div><h2 class="subtitle is-2">User Information</h2></div> -->
    <div class="is-flex">
      <div class="panel">
        <div class="panel-heading">Your Observations over time</div>
        <div class="panel-block is-flex">
          <div class="m-4 has-text-centered">
            <h1 class="is-size-1 has-text-weight-bold">
              [[=round(sum(timeByDay.values())/len(timeByDay), 2)]]
            </h1>
            minutes per day
          </div>
          <div class="m-4 has-text-centered">
            <h1 class="is-size-1 has-text-weight-bold">
              [[=round(sum(sightingsByDay.values())/len(sightingsByDay), 2)]]
            </h1>
            sightings per day
          </div>
        </div>
        <div class="panel-block">
          <table class="table">
            <tr>
              <th>Date</th>
              <th># of Sightings</th>
              <th># of Minutes</th>
            </tr>
            [[ for (day, count), (day, time) in zip(sightingsByDay.items(),
            timeByDay.items()) : ]]
            <tr>
              <td>[[=day]]</td>
              <td>[[=count]]</td>
              <td>[[=time]]</td>
            </tr>
            [[ pass ]]
          </table>
        </div>
      </div>
      <div id="sightings-by-day-container"></div>
    </div>
    <hr class="is-divider" />
    <div class="panel">
      <h2 class="panel-heading">Species Seen:</h2>
      <div class="panel-block width">[[=searchForm]]</div>
      [[ for species, sightings in speciesSeen.items() : ]]
      <div class="panel-block" id="[[=species]]">
        [[ =species ]]
        <div id="map-container"></div>
        <ul class="list ml-2 is-flex">
          [[ for date, (longitude, latitude) in sightings : ]]
          <li>
            <button
              type="button"
              class="button list-item m-2"
              onclick="showMap('[[=species]]', [[=latitude]], [[=longitude]])"
            >
              [[ =date ]]
            </button>
          </li>
          [[ pass ]]
        </ul>
      </div>
      [[ pass ]]
    </div>
  </div>
</div>
<script>
  function showMap(species, latitude, longitude) {
    speciesTree = document.getElementById(species);
    let mapElements = speciesTree.querySelector('#map-container');
    mapElements.innerHTML = '';
    let mapElement = document.createElement('div');
    mapElement.id = 'map';
    mapElement.style.width = '100%';
    mapElement.style.height = '20vh';
    mapElements.appendChild(mapElement);
    // Create new map instance
    const markerOptions = {
      icon: app.handleIcon,
      keyboard: false,
      draggable: true,
    };
    let map = L.map(mapElement).setView([longitude, latitude], 13);
    let tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors',
    }).addTo(map);
    L.marker([longitude, latitude], markerOptions).addTo(map).bindPopup("Location").openPopup();
  }

  const chartContainer = document.getElementById('sightings-by-day-container');
</script>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
  let speciesList = "";
</script>
<script src="js/index.js"></script>
[[end]]
